* {
    margin: 0;
    padding: 0;
    box-sizing: border-box; 
}

body {
    background-color: purple;
}

.header {
    height: 95vh;
    background-image: linear-gradient(
        to right bottom,
        rgb(206, 4, 206, 0.8),
        rgb(36, 0, 36, 0.8)),
    url(scrum.jpg);
    background-size: cover;
    background-position: top;
    
    clip-path: polygon(0 0, 100% 33%, 100% 90%, 0% 100%);
}