* {
    margin: 0;
    padding: 0;
    box-sizing: border-box; 
}

.header {
    height: 95vh;
    background-image: /* linear-gradient(
        to bottom right,
        rgba(128, 0, 128, 0.75),
        rgba(105, 44, 105, 0.75)), */
    url(scrum.jpg);
    background-size: cover;
    background-position: top;
    
    /* clip-path: polygon(100% 0, 50% 50%, 50% 50%, 0 100%); */
}